/Server/TiendeoAPI/.vs/TiendeoAPI/v15/Server/sqlite3/db.lock
/Server/TiendeoAPI/.vs/TiendeoAPI/v15/Server/sqlite3/storage.ide
/Server/TiendeoAPI/.vs/TiendeoAPI/v15/Server/sqlite3/storage.ide-shm
/Server/TiendeoAPI/.vs/TiendeoAPI/v15/Server/sqlite3/storage.ide-wal
Server/TiendeoAPI/.vs/TiendeoAPI/xs
Server/TiendeoAPI/ServicesLibrary/bin
Server/TiendeoAPI/ServicesLibrary/obj
Server/TiendeoAPI/ServicesLibrary/obj
Server/TiendeoAPI/TiendeoAPI/bin
Server/TiendeoAPI/TiendeoAPI/obj
Server/TiendeoAPI/TiendeoAPI/bin
Server/TiendeoAPI/ServicesLibrary/bin
Server/TiendeoAPI/ServicesLibrary/obj
Server/TiendeoAPI/TiendeoAPI/bin
Server/TiendeoAPI/TiendeoAPI/obj
